.background {
  background-color: var(--app-background-color);
}

.background__gradient {
  background: radial-gradient(50% 50% at 50% 50%, #04252b 0%, #002424 0.01%, #001515 100%);
}

.background__image {
  transform-origin: top center;
  opacity: 0.6;
  transform: scale(var(--background-image-scale, 1.05));
  transition: filter var(--background-blur-transition-duration, 220ms) ease-out;
  will-change: transform, opacity, filter;
}
